<!DOCTYPE html>
<html>
    <head>
        <title>CRUD Lab</title>
        <style>
        body {background-color: white;}
        h1, footer {
            text-align: center;
            color: gray;
            }
        </style>
    </head>
    <body>
        <h1>Creat. Read. Update. Delete.</h1>
        <%= yield %>
        <footer>Copyright 2021 by CRUD Crew. All Rights Reserved.</footer>
    </body>
</html>